*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
.content-wrapper{
    width: 100%;
    padding: 20px;
}
input[type=text],input[type=email],input[type=password]{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display:inline-block;
    border:1px solid #ccc;
    font-size: 17px;
}
input[type=button]{
        background-color:#4caf50;
        padding:14px 20px;
        margin:8px 0;
        color:#fff;
        border:none;
        outline: none;
        width:100%;
        font-size: 17px;
        transition: all 0.15s ease;
        box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.4);
        z-index: 10;
        cursor: pointer;
        font-weight: 600;
}
/*-------------------------------------styling button for login page--------------------------------*/
#btn2{
    background-color:#f44336;
    padding:14px 20px;
    color:#fff;
    text-align: left;
    border:none;
    width:100px;
    font-size: 17px;
    border:none;  
} 

#rem{
    margin-left:5px; 
}

/*--------------------------------------end for login sttyle-----------------------------*/


input[type=button]:hover{
    opacity: 0.8;
}

.content-wrapper p a{
    text-decoration: none;
    color: #58b3ff;
}
